.hobby-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hobby-item {
  width: 30%;
  background-color: #ffcccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hobby-item h3 {
  color: #ff6666;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.hobby-item p {
  margin-bottom: 0;
  text-align: left;
  text-indent: 2em;
}
